@import "tailwindcss";

@theme {
  --font-sans: "jakarta", sans-serif;
  --animate-scroll-text: scrollText 10s linear infinite;

  @keyframes scrollText {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
}

/* Custom Utilities & Animations */
.fade-up {
  opacity: 0;
  transform: translateY(40px);
  transition: all 1s cubic-bezier(0.25, 1, 0.5, 1);
}

.fade-left {
  opacity: 0;
  transform: translateX(-40px);
  transition: all 1s cubic-bezier(0.25, 1, 0.5, 1);
}

.fade-right {
  opacity: 0;
  transform: translateX(40px);
  transition: all 1s cubic-bezier(0.25, 1, 0.5, 1);
}

.is-visible {
  opacity: 1 !important;
  transform: translate(0, 0) !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}